.section {
    height:300px;
    margin-bottom: 10px;
    padding: 10px;
}
.section.s1 {
    background-color: #FF3339;
}
.section.s2 {
    background-color: #99FF66;
}
.section.s3 {
    background-color: #FFFF00;
}
.section.s5 {
    background-color: #FF950E;
}
.section.s6 {
    background-color: #9900FF;
}
.section.s7 {
    background-color: #66CC99;
}
.section.s8 {
    background-color: #996633;
}
.section.s4{
  background: lightblue;
  height: 75px;
  padding-right: 150px;
  position: relative;
}
.section.s4 input[type="text"]{
  background: lightblue;
  border: none;
  box-sizing: border-box;
  height: 100%;
  position: block;
  width: 100%;
}
.section.s4 input[type="button"] {
  background: grey;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 150px;
}

/*Responsive Tablet*/
@media screen and (min-width: 480px) {
  .first-column-wrapper,
  .second-column-wrapper{
    box-sizing: border-box;
    float: left;
    width: 50%;
  }

  .first-column-wrapper{
    padding-right: 5px;
  }
  
  .second-column-wrapper{
    padding-left: 5px;
  }

  .third-column-wrapper{
    box-sizing: border-box;
    clear: both;
  }
}

/*Responsive Desktop*/
@media screen and (min-width: 768px) {
  .first-column-wrapper,
  .second-column-wrapper{
    width: 33.33%;
  }

  .second-column-wrapper{
    padding-right: 5px;
  }
  .third-column-wrapper{
    clear: none;
    float: left;
    padding-left: 5px;
    width: 33.34%;
  }

  .section.s8{
    clear: both;
  }
  
  .first-column,
  .second-column{
    box-sizing: border-box;
    float: left;
    width: 50%;
  }

  .first-column{
    padding-right: 5px;
  }
  
  .second-column{
    padding-left: 5px;
  }
  .clear{
    clear: both;
  }
}